body {
  background-image: url("./CSS Advanced images/object.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #1a0730;
  text-align: center;      
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
    display: flex;
    gap: 15px;
    margin-right: 1.5rem;
}

nav li {
    list-style-type: none; 
}

nav li a{
    text-decoration: none;
    color :whitesmoke;
}

/* -------------------------------------- */

h1 {
    font-size: 5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin-top: 90px;
}

#h1-div span {
    margin: 1.4%;
    color: white;
    font-size: 2em;
    font-weight: 600;
}
#h1-div button {
    display: block;
    margin: 20px auto 50px;
    color:white;
    background-color: blueviolet;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 20px;
}

#learn {
    color: white;
}

#learn h2 {
    margin-bottom: 2rem;
}
#learn span {
    color:rgb(218, 30, 218)
}

#quotes {
    display: flex;
    gap: 5rem;
    /* background-color: yellow; */
    max-width: fit-content;
    margin: 0 auto 50px;
    
}

#quotes img {
    width:8rem;
    border-radius: 4rem;
}

#quotes p {
    max-width:100px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 1.5em;
    padding: 0;
}

#quotes div{
    /* border: 10px black dashed; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


/* -------------------------------------- */
#second-section {
    display:flex;
    align-items: center;
    padding: 0 20%;
    background-color: rgb(190, 67, 190);
    gap: 2rem;
    min-height: 200px;
}

#second-section img {
    width: 8rem;
}

#second-section :last-child {
    text-align: left;
    color: white;
    line-height: 1.2em;
}

#second-section blockquote {
    margin: 0%;
}

#second-section h3 {
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-size: 1rem;
}

#second-section p {
    margin: 0%;
}

/* ----------------------------------------------------------- */

#videos {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 30px;
    margin: 10px;
}

#videos h2 {
    width: 600px;
    flex: 0 0 100%;
    /* background-color: blue; */
}

#videos > div {
    flex: 1 1 calc(25%-12px);
    min-width: 140px;
    width: calc(25% - 12px);
    text-align: left;
}


.philip {
    display: flex;
    gap: 20px;
    color: purple;
}

.philip img {
    width: 15%;
    display: inline-block;
}

.philip p {
    display: inline-block;
}

.stars {
    display: inline-block;
    flex-direction: row;
    color: purple;
}

.stars div {
    display: inline;
}

.stars +p {
    margin-left: 10px;
    display: inline;
    text-align: right;
    color: purple;
}

/* -------------------------------------------------------- */


#membership {
    background-color: rgb(25, 5, 56);
    color:white;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 30px;
    margin: 10px;
}

#membership h2 {
    width: 600px;
    flex: 0 0 100%;
    margin-bottom: 60px;
    /* background-color: blue; */
}

#membership h2 span{
    color:blueviolet;
}

#membership > div {
    flex: 1 1 calc(25%-12px);
    min-width: 140px;
    max-width: 300px;
    width: calc(25% - 12px);
    text-align: center;
}

#membership button {
    display: block;
    margin: 20px auto 50px;
    color:white;
    background-color: blueviolet;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 20px;
}


/* -------------------------------------- */


#faq {
    background-color: white;
    padding: 30px;
}

#faq h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#faq > div {
  display: flex;
  flex-wrap: wrap;         
  gap: 2rem;               
  justify-content: center;
}

#faq > div > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;             
  flex: 1 1 45%; 
  box-sizing: border-box;
  padding: 10px 80px;
}


#faq > div > div > div:nth-child(odd) h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

#faq > div > div > div:nth-child(even) {
  line-height: 1.5;
}


/* -------------------------------------- */